name: sweyer
description: Open source music player built with Flutter
homepage: https://github.com/nt4f04uNd/sweyer
repository: https://github.com/nt4f04uNd/sweyer
issue_tracker: https://github.com/nt4f04uNd/sweyer/issues
publish_to: none
version: 1.0.2+3
 
environment:
  sdk: ">=2.6.0<3.0.0"
  # Commit 183f0e797a3bf8aa1b35b650150f7522d5d10377
  # flutter: 1.24.0-8.0.pre.374

dependencies:
  # color_thief_flutter: ^1.0.2
  async: ^2.5.0
  animations: ^2.0.0
  fluttertoast: ^8.0.3
  permission_handler: ^6.1.1
  shared_preferences: ^2.0.5
  path_provider: ^2.0.1
  json_annotation: ^3.1.1
  percent_indicator: ^3.0.1
  firebase_core: ^1.0.2
  firebase_crashlytics: ^1.0.0
  firebase_analytics: ^7.1.1
  package_info: ^2.0.0
  url_launcher: ^6.0.3
  flare_flutter: ^2.0.6 # TODO: update to 3.0.0 when https://github.com/2d-inc/Flare-Flutter/issues/301 is resolved
  auto_size_text: ^3.0.0-nullsafety.0
  marquee: ^2.0.0
  equatable: ^2.0.0
  device_info: ^2.0.0
  enum_to_string: ^2.0.1
  sqflite: ^2.0.0+2
  path: ^1.7.0
  flutter_sticky_header: ^0.5.0
  multiple_localization: ^0.2.1
  scrollable_positioned_list: ^0.1.10
  devicelocale: ^0.4.1
  just_audio:
    path: C:\dev\projects\native\just_audio\just_audio
    # git: 
    #   url: C:\dev\projects\native\just_audio
    #   ref: background
    #   path: just_audio
  audio_service:
    path: C:\dev\projects\native\audio_service\audio_service
    # git: 
    #   url: C:\dev\projects\native\audio_service
    #   ref: one-isolate
    #   path: audio_service
  nt4f04unds_widgets:
    path: c:/dev/projects/native/nt4f04unds_widgets/
    # git:
    #   url: https://github.com/nt4f04uNd/nt4f04unds_widgets/
    #   ref: 1.1.2

dependency_overrides:
  analyzer: ^1.0.0
  petitparser: ^4.0.0
  crypto: ^3.0.0
  audio_session:
    git: 
      url: https://github.com/ryanheise/audio_session.git
      ref: master

  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.7.2
  json_serializable: ^3.2.5
  # intl_translation: ^0.17.10+1
  intl_translation:
    git:
      url: https://github.com/nt4f04uNd/intl_translation
      ref: 198ba30710a7aeba94813389dac47c9092d11e6c

flutter:
  uses-material-design: true

  assets:
   - assets/
   - assets/images/
    # don't include a whole folder here because of README  
   - assets/animations/play_pause.flr
   - assets/animations/checkmark.flr

  fonts:
    - family: Manrope
      fonts:
        - asset: assets/fonts/Manrope/manrope-extrabold.ttf
          weight: 800
        - asset: assets/fonts/Manrope/manrope-bold.ttf
          weight: 700
        - asset: assets/fonts/Manrope/manrope-semibold.ttf
          weight: 600
