<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nt4f04uNd.player">

   <!-- Allow read stoarage -->
   <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
   <!-- Allow medai notification -->
   <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
   <!-- Needed to stay awake feature in audioplayrs -->
   <uses-permission android:name="android.permission.WAKE_LOCK" />

   <!-- <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/> -->

   <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
   <!-- TODO: Mipmap currently unused, probably should delete in the future -->
   <!-- <application android:name="io.flutter.app.FlutterApplication" android:label="Музыка" android:icon="@drawable/ic_launcher_foreground" android:resizeableActivity="false"> -->
   <!-- <application android:name="io.flutter.app.FlutterApplication" android:label="Музыка" android:icon="@drawable/icon_new" android:resizeableActivity="false"> -->
   <application android:name="io.flutter.app.FlutterApplication" android:label="Музыка" android:icon="@drawable/icon_rounded" android:resizeableActivity="false">
      <!-- <activity android:name=".MainActivity" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"> -->
      <activity android:name=".MainActivity" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:screenOrientation="portrait" android:windowSoftInputMode="adjustNothing">
         <!-- This keeps the window background of the activity showing
                 until Flutter renders its first frame. It can be removed if
                 there is no splash screen (such as the default splash screen
                 defined in @style/LaunchTheme). -->
         <meta-data android:name="io.flutter.app.android.SplashScreenUntilFirstFrame" android:value="true" />
         <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
         </intent-filter>

         <!-- Intent filter for opening audio files -->
         <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <data android:mimeType="audio/*" />
            <category android:name="android.intent.category.DEFAULT" />
         </intent-filter>
         <!-- Intent for pressing media buttons -->
         <!-- <intent-filter android:priority="100000">
            <action android:name="android.intent.action.MEDIA_BUTTON" />
         </intent-filter> -->
      </activity>
   </application>
</manifest>
